
body{
    font-family: 'Poppins', sans-serif;
}
ul,li{
    text-decoration: none;
    list-style: none;
}
.bg-color{
    background-color:#F0FFF0
    ;
}
.bg-color2{
    background-color: #F8FFFB;
}

.btn-submit{
    color: white;
    background-color: #21B573;
    border:none;
    font-size: 16px;
    padding: 10px 25px;
}
.green-highlight{
    color: #21B573;
}
.sign-in{
    background-color: #21B573;
}

.purple-highlight{
    color: #413960;
}
.learn{
    font-size: 16px;
    font-weight: 400;
}
/* .img-people{
    margin-left: 110px;
} */
.card{
    border:none
}
.list{
    font-size: 20px;
    font-weight: 400;
}
.footer-content{
    font-size: 20px;
}
li{
    margin: 10px 0;
}

.test-content{
    font-size: 18px;
    text-align: justify;
}

.copyright{
    margin: 50px 0px 0;
}
.as{
    width: 100%;
}
.hobar{
    transition: all linear 0.2s;
}
.hobar:hover{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    background-color: white;
}

