
body{
    font-family: 'Poppins', sans-serif;
}
.bg-color{
    background-color:#F0FFF0
    ;
}
.bg-color2{
    background-color: #F8FFFB;
}

.btn-submit{
    color: white;
    background-color: #21B573;
    border:none;
    font-size: 16px;
    padding: 10px 25px;
}
.green-highlight{
    color: #21B573;
}
.sign-in{
    background-color: #21B573;
}

.purple-highlight{
    color: #413960;
}
.learn{
    font-size: 16px;
    font-weight: 400;
}
/* .img-people{
    margin-left: 110px;
} */
.card{
    border:none
}